<h1> Inputs </h1>
<app-virtual-trader-form [(code)]="code"
                         [(startDate)]="startDate"
                         [(endDate)]="endDate"/>

<button mat-button [disabled]="disabled()"
                   (click)="fetchHistoricalData()"> Click </button>

<h1> Line Chart </h1>
@if (historicalData$ | async; as data) {
  <app-virtual-trader-graph [dataSource]="data"></app-virtual-trader-graph>
}

<h1> Table </h1>
@if (stockData$() | async; as data) {
  <app-virtual-trader-table [dataSource]="[data]" />
} @else {
  Invalid Input.
}

@if (stockAllData$() | async; as data) {
  <app-virtual-trader-table [dataSource]="data" />
}
