<h1> Inputs </h1>
<app-virtual-trader-form [(startDate)]="startDate"
                         [(endDate)]="endDate"
                         (addCode)="addCode($event)"/>

<div>
  Targets:
  @for (ac of appliedCodes(); track ac) {
    {{ ac }}
  }
</div>


<button mat-button [disabled]="disabled()"
                   (click)="fetchHistoricalData()"> Apply </button>

<h1> Line Chart </h1>
@if (historicalData$ | async; as data) {
  <app-virtual-trader-graph [dataSource]="data"></app-virtual-trader-graph>
}

