<div class="virtual-trader-form-container">
  <mat-form-field class="virtual-trader-form-chip-grid">
    <mat-label> Codes </mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter Codes">
      @for (code of codes(); track code) {
        <mat-chip-row
          (removed)="remove(code)"
          [editable]="true"
          (edited)="edit(code, $event)"
        >
          {{code}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
      <input
        placeholder="New code..."
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-grid>
  </mat-form-field>

  <br>
  <mat-form-field>
    <mat-label> Enter a date range </mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate [(ngModel)]="startDate">
      <input matEndDate [(ngModel)]="endDate">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker" />
    <mat-date-range-picker #picker />
  </mat-form-field>
</div>
