<div class="virtual-trader-form-container">
  <mat-form-field>
    <mat-label> Code </mat-label>
    <input matInput type="text" [(ngModel)]="code">
  </mat-form-field>

  <mat-form-field>
    <mat-label> Enter a date range </mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate [(ngModel)]="startDate">
      <input matEndDate [(ngModel)]="endDate">
    </mat-date-range-input>
    <mat-hint> YYYY/MM/DD - YYYY/MM/DD </mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker" />
    <mat-date-range-picker #picker />
  </mat-form-field>
</div>
